.welcoming-banner {
    margin-top: 2%;
    text-align: center;
}
.pic-desc {
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    flex-direction: row;
}

.pic-desc img {
    width: 32%;
    border: 10px;
    border-style: inset;
    border-color: brown;
    margin-right: 5%;
}

.intro-para {
    width: 55%;
    font-size: 1.2em;
    line-height: 1.6;
}