body {
    background-color: antiquewhite;
    color: rgb(28, 2, 28);
    font-family: 'Lucida Grande', 'Geneva', sans-serif;
    margin: 0;
}

#welcoming-banner {
    margin-top: 2%;
    text-align: center;
}
#pic-desc {
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    flex-direction: row;
}

#pic-desc img {
    width: 32%;
    border: 5px;
    border-color: black;
    margin-right: 5%;
}

#intro-para {
    width: 55%;
    font-size: 1.2em;
    line-height: 1.6;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
}