.storyplace {
    display: flex;
    width: 90%;
    height: 80vh;
    margin: 2rem auto;

    border: 10px;
    border-style: inset;
    border-color: brown;

    background-color: rgb(134, 134, 85);
}

.story-select {
    width: 220px;
    padding: 1.5rem;

    border: 1px solid #aaa;
}

.story-select h2 {
    margin-top: 0;
    text-decoration: underline;
}

.story-button {
    display: block;
    width: 100%;

    margin-bottom: 0.5rem;

    color: brown;
    text-decoration: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
    transition: 0.3s;

    text-align: left;
    font-size: 1rem;

    background: transparent;
    border: none;

    cursor: pointer;
}

.story-button:hover {
    color: blue;
    background-color: lightblue;
    text-decoration: none;
}

.story-button.active {
    color: blue;
    background-color: lightblue;
    font-weight: bold;
}

.story-container {
    flex: 1;
}

.story-container iframe {
    width: 100%;
    height: 100%;

    border: 1px solid #aaa;
    border-left: none;
}