#hoot {
    display: flex;
    flex-direction: row;
    margin: 1%;
}

#hoot img {
    width: 25%;
    margin-right: 5%;
}

#hoot p {
    width: 55%;
    font-size: 1.2em;
    line-height: 1.6;

    display: grid;
    align-items: center;
}

hr {
    width: 80%;
}

embed {
    margin-left: 5%;
    width: 90%;
    height: 28em;
    background-color: rgb(236, 234, 250);
}

#personal {
    margin-left: 4%;
}

#back_forward_buttons {
    margin-left: 4%;
    display: flex;
}

#back_forward_buttons p {
    margin-right: 3%;
    color: blue;
    text-decoration: underline;
}