body {
    background-color: antiquewhite;
    color: rgb(28, 2, 28);
    font-family: 'Lucida Grande', 'Geneva', sans-serif;
    margin: 0;
}
#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(134, 134, 85);

    padding: 0.5%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    overflow: hidden;
    white-space: nowrap;
}

#top-bar p {
    margin-left: 0%;
    font-size: 1em;
    line-height: normal;
}

#nav-bar p a {
    color: blue;
    text-decoration: none;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 3%;
    padding-right: 3%;
}

#nav-bar p a:hover {
    color: purple;
    background-color: lightblue;
    text-decoration: none;
}

ul {
    margin-left: 2%;
    font-size: 1.05em;
    line-height: 1.6;
}

ul img {
    width: 1.5%;
}

p {
    margin-left: 1%;
    font-size: 1.05em;
    line-height: 1.6;
}

hr {
    width: 80%;
}