body {
    background-color: antiquewhite;
    color: rgb(28, 2, 28);
    font-family: 'Lucida Grande', 'Geneva', sans-serif;
    margin: 0;
}
#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(134, 134, 85);

    padding: 0.5%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    overflow: hidden;
    white-space: nowrap;
}

#nav-bar p a {
    color: blue;
    text-decoration: none;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 3%;
    padding-right: 3%;
}

#nav-bar p a:hover {
    color: purple;
    background-color: lightblue;
    text-decoration: none;
}

#welcoming-banner {
    margin-top: 2%;
    text-align: center;
}
#pic-desc {
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    flex-direction: row;
}

#pic-desc img {
    width: 32%;
    border: 5px;
    border-color: black;
    margin-right: 5%;
}

#intro-para {
    width: 55%;
    font-size: 1.2em;
    line-height: 1.6;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
}