<!DOCTYPE html>
<link rel="stylesheet" href="css/navbar.css">
<nav class="top-bar">
    <div class="nav-bar">
        <a href="index.html">Home</a>
        <span class="separator">|</span>
        <a href="writing.html">Writing</a>
        <span class="separator">|</span>
        <a href="coding.html">Academics</a>
    </div>
    <div class="contact-info">
        <span class="contact-info-introduction"> Contact me: </span>
        <span class="contact-info-info"> 978-798-0979 </span>
        <span class="separator">|</span>
        <span class="contact-info-info"> lucashenryalexander@gmail.com </span>
    </div>
</nav>